html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width:1100px;
    margin: auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1;
}



/*------- Шапка -------*/

.header {

    background: #F8F6F7 url('./images/header-bg.png');
    min-height: 561px;
    overflow: hidden;
    margin-bottom: 100px;
}

.header .container {
    position: relative;
    padding: 30px 0 130px;
    
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.header__social {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: #333333;
    line-height: 29px;
}

.navigation ul {
    list-style: none;
    margin-top: 6px;
    margin-bottom: 22px;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.navigation li:not(:last-child) {
    margin-right: 28px;
}

.navigation a {
    font-size: 14px;
    font-weight: 600;
    transition: .15s color;
}

.navigation a:hover {
    color: #00BF78;
}

.phone-info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.phone-info a,
.navigation a {
    color: #333;
}

.phone-info a {
    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
    margin: 9px 1px 8px 0;
}

.phone-info span {
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    margin: 0;
}

.hero h1 {
    max-width: 540px;
    position: relative;
    z-index: 2;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin: 0;
}

.hero p {
    position: relative;
    font-weight: 400;
    max-width: 315px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 17px;
    margin-bottom: 0;

}

.btn_large {
    position: relative;
    padding: 17px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #FB9475;
    border-radius: 24px;
    border: 0;
    margin-top: 59px;
}

.btn {
    position: relative;
    padding: 17px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #FB9475;
    border-radius: 24px;
    border: 0;
    margin-top: 16px;
    margin-bottom: 45px;
    cursor: pointer;
}

.girl {
    width: 472px;
    height: 472px;
    border-radius: 50%;
    background-color: #FB9475;
    position: absolute;
    left: 544px;
    top: 199px;
}

.photo {
    width: 524px;
    height: 510px;
    position: absolute;
    right: 93px;
    left: 495px;
    bottom: -130px;
    top: 51px;
}

.social_vertical {
    flex-direction: column;
}

.social_vertical li:not(:last-child) {
    margin-bottom: 8px;
}

   

/*------- О нас -------*/

.osalone {
    padding-bottom: 160px;

}

.video {
    height: 297px;
    max-width: 445px;
    min-width: 297px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    left: 644px;
    top: 91px;
    overflow: hidden; 
}

.video-overlay {
    background: #000;
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
}

.video:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    background: url(./images/iconPlay\ 1.svg) no-repeat center;
    z-index: 3;
    transition: 0.15s;
}

.video:after {
    content: 'Короткое видео о нас';
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 3;
    top: 168px;
    left: 0;
    color: #FFFFFF;
}

.video:hover::before {
    transform: scale(1.1) translateX(-50%)
}

.video img{
    object-fit: cover;
    height: 297px;
    width: 445px;
}

.txt {
    position: absolute;
    max-width: 570px;
    max-height: 394px;
    margin-right: 570.54px;
    color: #333;
}

.txt h1 {
    font-size: 48px;
    font-weight: 700 bold;
    line-height: 59px;
}

.txt p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.txt span {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.txt a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #278AFF;
}



/*------- Наши преймущества -----*/

.preim { 
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    padding-right: 50px;
}

.kabinets {
    text-align: center;
    width: 350px;   
    color: #333333;
}

.kabinets h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-size: normal;
}

.kabinets p {
    font-size: 14px;
    font-weight: 400px;
    line-height: 22px;
    font-style: normal;
}

.kosmetika {
    text-align: center;
    width: 350px;   
    color: #333333;
}

.kosmetika h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-size: normal;
}

.kosmetika p {
    font-size: 14px;
    font-weight: 400px;
    line-height: 22px;
    font-style: normal;
}

.mastera {
    text-align: center;
    width: 350px;   
    color: #333333;
}

.mastera h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-size: normal;
}

.mastera p {
    font-size: 14px;
    font-weight: 400px;
    line-height: 22px;
    font-style: normal;
}



/*------- Популярные услуги -----*/

.servtxt h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #333333;
    margin-bottom: 35px;
}

.servblock {
    display: flex;
    flex-wrap: wrap;
}

.servblock h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.servblock p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.service {
    max-width: 330px;
    margin-right: 10px;
    border-radius: 8px;
}

.service img{
    max-width: 330px;
}



/*------- Услуги и цены -------*/

.price {
    position: relative;
    margin-top: 0;
    margin-bottom: 100px;
}

.price h1 {
    margin-bottom: 32px;
}

.prnavi {
    margin-bottom: 47px;
    position: relative;
    right: 40px;
}

.prnavi ul {
    list-style: none;
    display: flex;
   
}

.prnavi li:not(:last-child) {
    margin-right: 28px;
}

.prnavi a {
    font-size: 14px;
    font-weight: 600;
    transition: .15s color;
    color: #333;
}

.prnavi a:hover {
    color: #00BF78;
    text-decoration-line: underline;
}

.boxuslug {
    display: flex;
    flex-wrap: wrap;
}

.boxuslug h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}

.boxuslug p {
 margin-top: 8px;
}

.boxuslug h1 span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.boxuslug h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #00BF78;
    text-align: right;
}

.usluga {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 444px;
    min-width: 400px;
    margin-right: 125px;
    padding: 0;
}



/*------- Мастера -------*/

.masters-background {
    background-color: #F8F6F7;
    min-width:1440px;
    min-height: 697px;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 80px;

}

.masters-background h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.masters-background h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.team {
    display: flex;
    gap: 29px;
}

.teammember{
    color: #333333;
}

.teammember h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.teammember h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.teammember h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.teammember:hover {
    cursor: pointer;
}

.teammember:hover::after {
    background: #000;
    opacity: 0.5;
    position: absolute;
    z-index: 3;
    content: 'Записаться к мастеру';
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    border-radius: 8px;
    z-index: 3;
    color: #FFFFFF;
    height: 300px;
    width: 255px;
    transform: translateY(-405px);
    padding-top: 130px;
}

.team img{

    height: 300px;
    width: 255px;
    border-radius: 8px;
}



/*------- Наши работы -------*/

.portfolio {
    max-width:1400px;
    margin: auto;
    padding-top: 100px;
    padding-bottom:80px;
}

.portfolio h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    transform: translateY(-20px);
}

.works {
    display: flex;
    gap: 29px;
    transform: translateY(-50px);
}

.work:hover {
    background: url(./images/Group\ 21.svg);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.25s;
}

.work:hover::after {
    background: #000;
    opacity: 0.5;
    position: absolute;
    z-index: 3;
    content: url(./images/Group\ 21.svg);
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    transform: translateX(-100%);
    border-radius: 8px;
    z-index: 3;
    color: #FFFFFF;
    height: 338px;
    width: 338px;
    padding-top: 130px;
}

.work:hover::before {
transform: scale(1.3);
}

.work img{
    object-fit: cover;
    height: 338px;
    width: 338px;
    border-radius: 8px;
}

.str{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 52px;
}

.strelki {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.strelki img {
    padding: 20px;
    margin-bottom: 60px;
}

.strelki img:hover {
    background: #F8F6F7;
    border-radius: 50%;
}



/*------- Бренды -------*/

.container-brand {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 100px;
}

.container-brand h1 {
    color: #333;
    text-align: center;
    padding-bottom: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.5;
    transform: translateY(20px);
}

.brands {
    display: flex;
    justify-content: space-evenly;
    gap: 55px;
}

.brands img {
    opacity: 0.5;
}



/*------- Контакты -------*/

.contacts-background {
    display: flex;
    background-color: #F8F6F7;
    min-width:1440px;
    min-height: 486px;
    background-size: 100%;
    color: #333333;
}

.contacts {
    max-width: 1100px;
    margin: auto;
    display: flex;
}

.contacts-box {
    min-width: 363px;
    padding-top: 80px;
    margin-right: 207px;
}

.contacts h1 {
    font-weight: 700 bold;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 32px;
}

.contacts h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
}

.phone-info_bottom{
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    padding-bottom: 20px;
}

.phone-info_bottom a {
    color: #000;
}

.email{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #278AFF;
    padding-bottom: 32px;
}

.contacts p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.social img {
    height: 33.01px;
    width: 32px;
}

.social li:not(:last-child) {
    margin-right: 18px;
}

.zapis-box {
display: flex;
flex-direction: column;
align-items: center;
width: 445px;
height: 406px;
background: #FFFFFF;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
margin-top: 80px;
margin-bottom: 40px;
border-radius: 8px;
}

.zapis-box-cont {
padding: 40px 35px;
position: static;
}

.zapis-box-cont h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    padding-bottom: 15px;
}

.zapis-box-cont h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.textzbox1 {
    display: flex;
    flex-direction: column;
    gap:20px;
    opacity: 0.3;
    font-size: 14px;
    height: 30px;
    padding-bottom: 120px;
}

input[type=text] {
    padding: 15px; 
    border-radius: 10px;
}

.btn___label {
    font-size: 14px;
    padding: 0 120px;
}

.zapis-box-cont h3 {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    transform: translateY(-43px);
}

.zapis-box-cont a{
    color: #278AFF;
    text-decoration-line: underline;
}



/*------- ФУТЕР -------*/

.footer {
    padding-bottom: 20px;
    color: #333333;
}

.footer-box {
    max-width: 1100px;
    margin: auto;
    padding-top: 20px;
    display: flex;
}

.footer-box h1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-right: 420px;
}

.footer-box a {
    color: #278AFF;
    text-decoration-line: underline;
}

.navigation a {
    color: #333333;
    text-decoration-line: none;
}