@import './vendors';
@import './variables';
@import './common';
@import './mixins';
@import './mobile-navi';
@import './media';



/*------- Шапка -------*/
.header {
    background: #F8F6F7 url('../images/header-bg.png');
    min-height: 591px;
    margin-bottom: 100px;
    overflow: hidden;

    @include _1080() {
        min-height: 800px;
        overflow: visible;
        margin-bottom: 0px;
        display: flex;
    }

    .container {
        position: relative;
        padding: 30px 0 130px;
        display: flex;
        flex-direction: column;
        text-align: center;
        @include _1080() {
            margin: 0;
    }

    }

    &__top {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 120px;

        @include _1080() {
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                padding-bottom: 0;
        }

        & a {
            color: #333;
            
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;

        @include _1080() {
            flex-direction: column;
            align-items: center;
        }
    }

    &__hero {
        display: flex;
        max-width: 540px;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 15px;
        align-items: flex-start;

        @include _1080() {
            align-items: center;
        }
    }

    &__social {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 10px;
        
        @include _1080() {
            flex-direction: row;
        }
    }

    &__girl {
        position: absolute;
        display: flex;
        width: 524px;
        height: 510px;
        left: 558px;
        top: 81px;

        @include _1080() {
            display: none;
        }
    }

    &__ellipse {
        border-radius: 50%;
        background-color: #FB9475;
        position: absolute;
        width: 472px;
        height: 472px;
        left: 607px;
        top: 284px;
        
        @include _1080() {
            display: none;
        }
    }

    &__logo {
    padding-left: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    }

    .navigation {
        &__list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 28px;
            list-style: none;
            padding: 0 15px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;  

            @include _1080() {
                display: none
            }
        }

        & a {
            font-size: 14px;
            font-weight: 600;
            transition: .15s color;

            @include _1080() {
                font-size: 26px;
            }
        }

        & a:hover {
            color: $green;
        }

    }
    
    .header-phone {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;

        @include _1080() {
            transform: translateY(1500%);
            padding: 1px 0;
        }
    
        &__number {
            font-weight: 500;
            font-size: 18px;
            line-height: 14px;
            text-align: center;
            padding-bottom: 8px;
        }
    
        &__schedule {
            font-weight: 400;
            font-size: 11px;
            line-height: 14px;
            text-align: right;
        }
        
    }

    .hero {

        &__title {
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
            text-align: left;

            @include _1080() {
                font-size: 40px;
                text-align: center;
                padding-right: 10px;
            }
        }

        &__subtitle {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px; 
            text-align: left;

            @include _1080() {
                text-align: center;
                padding-right: 10px;
            }
        }
    }
    
}



/*------- О салоне -------*/
.about-Us {
    display: flex;
    flex-wrap: wrap;
    column-gap: 55px;
    padding-bottom: 160px;
    align-items: center;

    @include _1080() {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__txt {
        position: relative;
        max-width: 570px;
        min-height: 394px;
        color: #333;

        @include _1080() {
            text-align: center;
        }

        & h1 {
            font-size: 48px;
            font-weight: 700 bold;
            line-height: 59px;
        }

        & p {
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
        }

        & span {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }

        & a {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: #278AFF;
        }
    }
   
    &__video {
        height: 297px;
        max-width: 445px;
        min-width: 297px;
        width: 100%;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
        overflow: hidden; 

        & img {
            object-fit: cover;
            height: 297px;
            width: 445px;
        }

        &_overlay {
            background: #000;
            opacity: 0.2;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 3;
        }

        &:before {
            content: '';
            position: absolute;
            width: 60px;
            height: 60px;
            left: 50%;
            top: 100px;
            transform: translateX(-50%);
            background: url(../images/iconPlay\ 1.svg) no-repeat center;
            z-index: 3;
            transition: 0.15s;
        }
        
        &:after {
            content: 'Короткое видео о нас';
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            position: absolute;
            width: 100%;
            text-align: center;
            z-index: 3;
            top: 168px;
            left: 0;
            color: #FFFFFF;
        }
        
        &:hover::before {
            transform: scale(1.1) translateX(-50%)
        }

    }

}



/*------- Наши преймущества -------*/
.advantages {
    position: relative;
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;

    @include _1080() {
        display: flex;
        flex-direction: column;
        align-items: center
        }

    &__item {
        text-align: center;
        width: 350px;   
        color: #333333;
    }
    
    &__item h1 {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }
    
    &__item p {
        font-size: 14px;
        font-weight: 400px;
        line-height: 22px;
    }
}



/*------- Популярные услуги -------*/
.services {

    @include _1080() {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    &__title {
        & h1 {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: #333333;
            margin-bottom: 35px;
    
            @include _1080() {
                text-align: center;
            }
        }
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;

        @include _1080() {
            justify-content: center;
        }
    }
    
    &__list h1 {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }
    
    &__list p {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }
    
    &__item {
        max-width: 330px;
        margin-right: 10px;
        border-radius: 8px;

        @include _1080() {
            display: flex;
            flex-direction: column;
            text-align: center;;
        }
    }
    
    &__item img{
        max-width: 330px;
    }    
}



/*------- Услуги и цены -------*/
.prices {
    position: relative;
    margin-top: 0;
    margin-bottom: 100px;

    &__title h1 {
        margin-bottom: 32px;
        @include _1080() {
            text-align: center;
        }
    }

    &__box {
            display: flex;
            flex-direction: column;
            transition: 0.25s;
            @include _1080() {
                justify-content: center;
            }

            &_item {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: baseline;
                justify-content: space-between;
                min-width: 420px;
                
                @include _768() {
                    min-width: 320px;
                }
            }
    
            & h1 {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #333;
                min-width: 130px;
    
                @include _768() {
                    max-width: 130px;
                }
            }
            
            & p {
                margin-top: 8px;
            }
            
            & span {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
            
            & h2 {
                position: relative;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: $green;
            }
    }

    &__backtotop {
        display: flex;
        justify-content: center;
    
        & a{
        display: none;
        @include _1080() {
            display: inline;
            color: #333;
            font-size: 20px;
            text-decoration: underline;
            padding-top: 50px;
            }
        }
}

.tabs {

    &__nav {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        @include _1080() {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & p:hover {
            color: $green;
            transition: 0.35s;
        }
    }

    &__btn {
        padding: 0;
        margin: 0;
        color: #333;
        text-align: left;
        flex-shrink: 0;
        flex-grow: 1;
        cursor: pointer;
        border: 0;
        background: #FFFFFF;
        @include _1080() {
            padding: 5%;
        }

        & p {
            margin: 0;
        }
    }

    &__btn_active {
        cursor: default;

        & p {
            color: $green;
            text-decoration: underline;
        }
    }

    &__pane {
        display: none;        
    }

    &__pane_show {
        display: block;
        display: flex;
        flex-wrap: wrap;
        column-gap: 200px;
        @include _1080() {
            justify-content: center;
        }
    }

    &__content {
        padding-top: 20px;
        transition: 0.25s;
    }
}
}



/*------- Мастера -------*/
.staff {
    background-color: #F8F6F7;
    min-height: 697px;
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 80px;

    &__title {
        & h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;

        @include _1080() {
        text-align: center;
        }
        }

        & h2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 30px;

        @include _1080() {
        text-align: center;
        }
        }
    }

    &__team {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & img {
            max-height: 100%;
            max-width: 100%;
            border-radius: 8px;
        }
    }
    
    &__teammember {
        color: #333333;
        padding-right: 10px;



        & h1 {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            @include _1080() {
                text-align: center;
                }
        }
        & h2 {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            @include _1080() {
                text-align: center;
                }
        }
        & h3 {
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            @include _1080() {
                text-align: center;
                }
        }

        &:hover {
            cursor: pointer;
        }
        &:hover::after {
            background: #000;
            opacity: 0.5;
            position: absolute;
            z-index: 3;
            content: 'Записаться к мастеру';
            text-align: center;
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            border-radius: 8px;
            z-index: 3;
            color: #FFFFFF;
            height: 300px;
            width: 255px;
            transform: translateY(-405px);
            padding-top: 130px;
        }
    }
}



/*------- Наши работы -------*/
.portfolio {
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom:80px;

    & h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        transform: translateY(-20px);

        @include _1080() {
            text-align: center;
        }
    }

    &__the-arrows {
        max-width: 1100px;
        margin: auto;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 52px;
        
        @include _1080() {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }
    
    &__the-arrowsImage {
        display: flex;
        justify-content: flex-end;
        gap: 16px;

    }
    
    &__the-arrowsImage img {
        padding: 20px;

        @include _1080() {
            display: flex;
        }
    }
    
    &__the-arrowsImage img:hover {
        background: #F8F6F7;
        border-radius: 50%;

    }

    .slider-prev, .slider-next {
        border-radius: 50%;
        border: 0;
        background-color: #FFFFFF;
    }
    
    &__works {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    &__work img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        padding: 0 5%;
    }   

    &__work:hover {
        transform: scale(1.1);
        transition: .25s;

    }   

    &__work:hover::before {
        position: absolute;
        background: #000;
        opacity: 0.5;
        content: url(../images/Group\ 21.svg);
        text-align: center;
        align-items: center;
        border-radius: 6px;
        height: 100%;
        width: 90%;
        bottom: 0%;
        padding-top: 30%;
        right: 5%;
        cursor: pointer;
        pointer-events: none;
    }  


    .slick-list {
        padding: 25px;
    }

}



/*------- Бренды с которыми мы работаем -------*/
.brands {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 100px;

    &__title h1 {
        color: #333;
        text-align: center;
        padding-bottom: 52px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        opacity: 0.5;
        transform: translateY(20px);
    }
    
    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 55px;
    }
    
    &__list img {
        opacity: 0.5;
    }
}



/*------- Контакты -------*/
.contacts {
    display: flex;
    background-color: #F8F6F7;
    justify-content: center;
    min-height: 486px;
    background-size: 100%;
    color: #333333;

    & p {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    &__container {
        max-width: 1100px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 250px;
    }

    &__txt {
        position: relative;
        max-width: 363px;
        padding-top:  80px;
        padding-left: 15px;
        padding-right: 30px;

        @include _1080() {
            text-align: center;
            }

    }
    
    &__txt h1 {
        font-weight: 700 bold;
        font-size: 48px;
        line-height: 59px;
        padding-bottom: 32px;
    }
    
    &__txt h2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 20px;
    }
    
    &__phone {
        font-weight: 400;
        font-size: 16px;
        line-height: 14px;
        padding-bottom: 20px;
    }
    
    &__phone a {
        color: #000;
    }
    
    &__email{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #278AFF;
        padding-bottom: 32px;
    }
    
    .social {
        display: flex;
        justify-content: flex-start;
        @include _1080() {
            justify-content: center;
        }
    }

    .feedback {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        max-width: 445px;
        padding: 0 15px ;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        margin-top: 80px;
        margin-bottom: 40px;
        border-radius: 8px;

        @include _1080() {
            text-align: center;
            transform: scale(0.85);
            }
    
        &__txt {
            display: flex;
            flex-direction: column;
            padding: 40px 35px;
            position: relative;
        }
        
        &__txt h1 {
            font-weight: 600;
            font-size: 18px;
            line-height: 14px;
            padding-bottom: 15px;
        }
        
        &__txt h2 {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }
        
        &__txt h3 {
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            transform: translateY(-43px);
        }
        
        &__txt a {
            color: #278AFF;
            text-decoration-line: underline;
        }
        
        &_input {
            display: flex;
            flex-direction: column;
            gap: 20px;
            opacity: 0.3;
            font-size: 14px;
            height: 30px;
            min-width: 320px;
            padding-bottom: 120px;
        }
        
        input[type=text] {
            padding: 15px; 
            border-radius: 10px;
        }
        
    }
}



/*------- Футер -------*/
.footer {
    max-width: 1100px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    column-gap: 200px;
    color: #333333;

    @include _1080() {
        justify-content: center
        }

    &_txt {
        padding-left: 15px;
        padding-right: 15px;

        @include _1080() {
            text-align: center;
        }
    }
    
    & h1 {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
    
    & a {
        color: #278AFF;
        text-decoration-line: underline;
    }
    
    .navigation {

        & a {
            position: relative;
            color: #333333;
            text-decoration-line: none;
        }

        & ul {
            padding: 0 15px;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            column-gap: 25px;
            
            @include _1080() {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 15px;
                margin-bottom: 50px;
                }
        }
    }
}



/*----Field of experiments----*/